<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header>
    <section id="land-nav">
        <div class="cs-container">
            <!-- Left Section -->
            <div class="cs-image-group">
                <p class="cs-left"> Under Construction</p>
            </div>
            <!-- Right Section -->
            <div class="cs-content-nav">
                <!--Nav Logo-->
                <a href="/" class="cs-logo" aria-label="back to home" tabindex="2">
                    <img
                        src="/assets/images/ypte.png"
                        alt="YPTE Brand Logo"
                        aria-hidden="true"
                        decoding="async"
                    />
                </a>
                <a href="mailto:david@yourpropertytaxexpert.co.uk" target="_blank" class="cs-button-solid cs-nav-button">Contact</a>
            </div>
        </div>
    </section>
</header>
