/* PAGE-SPECIFIC STYLES FOR THE LANDING PAGE */
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Reminder that breakpoints are in reverse order, eg Mobile styles first.
Uses MIN width! */
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-83 {
    padding: var(--sectionPadding);
    background-color: var(--secondary);
    background-image: url("/assets/images/ypte-pattern.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #sbs-83 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-83 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-83 .cs-title {
    max-width: 20ch;
  }
  #sbs-83 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-83 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-83 .cs-card-group {
    width: 100%;
    max-width: 25rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 0.75rem;
  }
  #sbs-83 .cs-item-first {
    display: none;
  }
  #sbs-83 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
  }
  #sbs-83 .cs-number {
    /* 39px - 49px */
    font-size: clamp(2.4375rem, 5vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    color: var(--primary);
    display: block;
    /* 8px - 16px */
    margin: 0 0 clamp(0.25rem, 0.5vw, 1rem);
  }
  #sbs-83 .cs-h3 {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-align: left;
    /* auto margin top will push text to bottom if there's only one line */
    margin: auto 0 0;
    color: var(--headerColor);
  }
  #sbs-83 .cs-image-group {
    width: 100%;
    max-width: 90%;
    margin: 0;
    /* separate children to opposite sides of the room */
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    gap: clamp(0.5rem, 2vw, 1.25rem);
  }
  #sbs-83 .cs-picture {
    width: 100%;
    /* 218px - 264px */
    min-height: clamp(13.625rem, 25vw, 16.5rem);
    aspect-ratio: 160/218;
    position: relative;
    display: block;
  }
  #sbs-83 .cs-picture:nth-of-type(2) {
    /* move slightly down */
    transform: translateY(2.5rem);
  }
  #sbs-83 .cs-picture:nth-of-type(4) {
    /* move slightly up */
    transform: translateY(2.5rem);
  }
  #sbs-83 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image act as a background image to the picture element */
    object-fit: cover;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-83 .cs-container {
    flex-direction: column;
  }
  #sbs-83 .cs-item {
    width: 80%;
  }
  #sbs-83 .cs-item-first {
    display: block;
    width: 80%;
    list-style: none;
    width: 40%;
    /* max-width: calc(150 / 16 * 1rem);*/
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
  }
  #sbs-83 .cs-card-group {
    max-width: 100%;
  }
  #sbs-83 .cs-image-group {
    /* 318px - 542px */
    width: clamp(19.875rem, 46.9vw, 33.875rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #sbs-83 .cs-left {
    width: 100%;
    aspect-ratio: initial;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-83 {
    background-size: contain;
  }
  #sbs-83 .cs-container {
    max-width: 90rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* 44px - 108px */
    column-gap: clamp(2.75rem, 5.4vw + 1em, 6.75rem);
  }
  #sbs-83 .cs-card-group {
    max-width: 100%;
  }
  #sbs-83 .cs-image-group {
    /* 318px - 542px */
    width: clamp(19.875rem, 46.9vw, 33.875rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #sbs-83 .cs-left {
    width: 100%;
    aspect-ratio: initial;
  }
}

/*# sourceMappingURL=local.css.map */
