---
title: "Your Propery Tax Expert | Tax Compliance and Advisory for Property Businesses and Individuals | North East England"
description: "Support for Individuals and Businesses with Tax Compliance and Advisory from North East England"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Netlify Identity -->
    <script
        defer
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script defer>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-83">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-image-group">
            <div class="cs-left">
                <p class="cs-text">Dedicated to providing property investors with first-class, tailored tax services.</p>
            </div>
        </div>
        <!-- Right Section -->
        <div class="cs-content">
            <span class="cs-topper">meet</span>
            <h2 class="cs-title">your property <br>tax expert</h2>
            <ul class="cs-card-group">
                <li class="cs-item-first">
                </li>
                <li class="cs-item">
                    <p class="cs-text">
                        We're technically trained, chartered tax advisors who also happen to be property investors. Fifteen years with leading accounting firms combines with hands on experience of buying, selling and structuring property investments. 
                    </p>
                    <p class="cs-text">
                        We advise on the intricate nuances of the UK property tax regulations, in a way that's robust and relatable. 
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
    
{% endblock %}
