/* PAGE-SPECIFIC STYLES FOR THE LANDING PAGE */

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Reminder that breakpoints are in reverse order, eg Mobile styles first.
Uses MIN width! */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-83 {
        padding: var(--sectionPadding);
        background-color: var(--secondary);
        background-image: url("/assets/images/ypte-pattern.png");
        background-size: cover;
        background-repeat: no-repeat;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: 90%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: calc(400 / 16 * 1rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            column-gap: calc(12 / 16 * 1rem);
        }

        .cs-item-first {
            display: none;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-self: stretch;
            align-content: space-between;
        }

        .cs-number {
            /* 39px - 49px */
            font-size: clamp(2.4375rem, 5vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            color: var(--primary);
            display: block;
            /* 8px - 16px */
            margin: 0 0 clamp(0.25rem, 0.5vw, 1rem);
        }

        .cs-h3 {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            /* auto margin top will push text to bottom if there's only one line */
            margin: auto 0 0;
            color: var(--headerColor);
        }

        .cs-image-group {
            width: 100%;
            max-width: 90%;
            margin: 0;
            /* separate children to opposite sides of the room */
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            gap: clamp(0.5rem, 2vw, 1.25rem);
        }

        .cs-picture {
            width: 100%;
            /* 218px - 264px */
            min-height: clamp(13.625rem, 25vw, 16.5rem);
            aspect-ratio: 160/218;
            position: relative;
            display: block;

            &:nth-of-type(2) {
                /* move slightly down */
                transform: translateY(calc(40 / 16 * 1rem));
            }

            &:nth-of-type(4) {
                /* move slightly up */
                transform: translateY(calc(40 / 16 * 1rem));
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes image act as a background image to the picture element */
                object-fit: cover;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-83 {
        .cs-container {
            flex-direction: column;
        }

        .cs-item {
            width: 80%;
        }

        .cs-item-first {
            display: block;
            width: 80%;
            list-style: none;
            width: 40%;
            /* max-width: calc(150 / 16 * 1rem);*/
            display: flex;
            flex-direction: column;
            align-self: stretch;
            align-content: space-between;
        }

        .cs-card-group {
            max-width: 100%;
        }

        .cs-image-group {
            /* 318px - 542px */
            width: clamp(19.875rem, 46.9vw, 33.875rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .cs-left {
            width: 100%;
            aspect-ratio: initial;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-83 {
        background-size: contain;

        .cs-container {
            max-width: calc(1440 / 16 * 1rem);
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            /* 44px - 108px */
            column-gap: clamp(2.75rem, calc(4.5vw * 1.2 + 1em), 6.75rem);
        }

        .cs-card-group {
            max-width: 100%;
        }

        .cs-image-group {
            /* 318px - 542px */
            width: clamp(19.875rem, 46.9vw, 33.875rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .cs-left {
            width: 100%;
            aspect-ratio: initial;
        }
    }
}

                                
